html,
body {
	height: 100%;
}

body {
	margin: 0;
	background: linear-gradient(45deg, #414141,rgb(255, 221, 0));
	font-family: sans-serif;
	font-weight: 100;
}

.container {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.header {
    color: #ffffff;
    transform: translate(-20%, -30%);
    font-size: 70px;
}

p {
    color: #ffffff;
    transform: translate(0%, -40%);
}

.zoomed {
    zoom: 1.3;
    -moz-transform: scale(2);
    -moz-transform-origin: 0 0;
}