html,
body {
	height: 100%;
}

body {
	margin: 0;
	background: linear-gradient(50deg, #414141,#C9B63D);
	font-family: sans-serif;
	font-weight: 100;
}

.container {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

table {
	width: 800px;
	border-collapse: collapse;
	overflow: hidden;
	box-shadow: 0 0 20px rgba(0,0,0,0.1);
}

th,
td {
	padding: 15px;
	background-color: rgba(255,255,255,0.2);
	color: #fff;
}

th {
	text-align: left;
    background-color: #5A5A5A;
}

tr {
    &:hover {
        background-color: rgba(255,255,255,0.3);
    }
}
td {
    position: relative;
    &:hover {
        &:before {
            content: "";
            position: absolute;
            left: 0;
            right: 0;
            top: -9999px;
            bottom: -9999px;
            background-color: rgba(255,255,255,0.2);
            z-index: -1;
        }
    }
}

.header {
    color: #ffffff;
    transform: translate(-20%, -30%);
    font-size: 70px;
}

p {
    color: #ffffff;
    transform: translate(0%, -40%);
}

.zoomed {
    zoom: 1.3;
    -moz-transform: scale(2);
    -moz-transform-origin: 0 0;
}