body
{
background: #202020;
}

h6 {
    color: #FFFFFF;
}

h1 {
    color: #FFFFFF;
}

h4 {
    color: #FFFFFF;
}

table {
  height: 40%;
  left: 10%;
  margin: 20px auto;
  overflow-y: scroll;
  position: static;
  width: 80%;
  color: #202020;
  box-shadow: 10px 5px 5px rgba(100, 100, 100, 0.5);
}

thead th {
  background: #2863FF;
  color: #FFF;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  font-weight: 100;
  letter-spacing: 2px;
  text-transform: uppercase;
}

tr {
  background: #FFFFFF;
  border-bottom: 1px solid #FFFFFF;
  margin-bottom: 1px solid #FFFFFF;
}

th, td {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  padding: 20px;
  text-align: left;
  width: 33.3333%;
}

.resize {
    width: 50px;
    height: auto;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  height: auto;
}

.center_resize {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50px;
  height: auto;
}

@font-face {
    font-family: Swera Regular;
    src:  url(/fonts/Swera_Regular_Demo.otf);
}

.swera {
    font-size: 70px;
    font-family: Swera Regular
}
